<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

    <div class="container">
        <div class="jumbotron">
            <div class="display-4" style="text-align:center;">Index</div>
        </div>

        <input type="number" class="form-control" id="id" name="id" required>
        <button onclick="getPersons()" class="btn btn-primary">FindPerson</button>

        <div id="personResponse"></div>
    </div>

   

    <% include ../partials/footer.ejs %>



    <script>
        function getPersons() {
            $.post("/findPerson", {id: document.getElementById("id").value}, function(data, status) {
                console.log(data[0]);
                document.getElementById("personResponse").innerHTML = JSON.stringify(data[0]);
            })
        }   
    </script>
</body>

</html>