<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

    <div class="container">
        <div class="jumbotron">
            <div class="display-4" style="text-align:center;">Index</div>
        </div>

        <input type="number" class="form-control" id="id" name="id" required>
        <button onclick="getPersons()" class="btn btn-primary">FindPerson</button>

        <div id="personResponse"></div>
    </div>
    <br>
    <div class="container">
        <div class="jumbotron">
            <label>Movie</label>
            <input type="text" class="form-control" id="movieId" name="movieId" required>
            <br>
            <button onclick="getMovieDetails()" class="btn btn-secondary">Search Movie</button>
            <div id="movieResults"> </div>
        </div>
    </div>

    <div class="container">
        <form id="login" class="my-3" method="POST" action="/login">
            <div class="form-group">
                <label class="h5" for="email">Email</label>
                <input class="form-control form-control-lg" type="email" id="email" name="email"
                    placeholder="email@example.com" maxlength="30" required autofocus>
                <div id="badEmail" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <labe class="h5" for="password">Password</labe>
                <input class="form-control form-control-lg" type="password" id="password" name="password"
                    placeholder="Pa$$word" required>
                <div id="badPass" class="invalid-feedback"></div>
            </div>
            <button type="button" class="btn btn-success btn-lg">Login</button>
        </form>
    </div>



    <% include ../partials/footer.ejs %>



    <script>
        var movies = [];
        var num = 0;

        function getPersons() {
            $.post("/findPerson", { id: document.getElementById("id").value }, function (data, status) {
                console.log(data[0]);
                document.getElementById("personResponse").innerHTML = JSON.stringify(data[0]);
            })
        }

        async function getMovieDetails() {
            const response = await fetch('http://www.omdbapi.com/?apikey=3118e725&plot=full&t=' + document.getElementById('movieId').value);
            const movie = await response.json();

            if (movie['Error']) {
                console.log(movie['Error'])
            }
            else {
                //console.log(JSON.stringify(movie))
                console.log(movie['Plot']);
                let text = JSON.stringify(movie);
                movies.push(movie);
                $('#movieResults').prepend("<br><div id = 'mov" + num + "list'>" + movie['Title']
                    + "<button onclick='showInfo(" + num + ")'class='btn btn-secondary float-right'>Show Details</button></div>"
                    + "<div id='mov" + num + "info' style='display: none; position: relative'><h1>" + movie['Title'] + "</h1>"
                    + "<button onclick='hideInfo(" + num + ")'class='btn btn-secondary' style='position: absolute; top:0; right:0'>Hide Details</button>"
                    + "<p>" + movie['Plot'] + "</p>"
                    + "<img src='" + movie['Poster'] + "' alt='poster' class='img-thumbnail'></div>");
                num += 1;
            }

        }
        function showInfo(index) {
            console.log(movies[index]);
            $('#mov' + index + 'list').css('display', 'none');
            $('#mov' + index + 'info').css('display', 'block');
        }
        function hideInfo(index) {
            console.log(movies[index]);
            $('#mov' + index + 'list').css('display', 'block');
            $('#mov' + index + 'info').css('display', 'none');
        }
    </script>
</body>

</html>