<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
      <div class="jumbotron">
          <div class="display-4">Math Calculator</div>
      </div>
  </div>



  <% include ../partials/footer.ejs %>
</body>

</html>